body{
margin:0;
font-family:Arial,sans-serif;
background:#f4f4f4;
color:#333;
}
header{
background:#0a4F9C;
color:white;
text-align: center;
padding:40px 20px;
}
.hero img{
width:300px;
max-width:90%;
border-radius:10px;
box-shadow:0 0 15px rgba(0,0,0,.3)
}
#about,
#buy,
#contact{
max-width:900px;
margin:30px auto;
padding:20px;
background:white
border-radius:10px;
}
.price{
font-size:28px;
color:green;
font-weight:bold;
}
.buy-btn{
display: inline-block;
margin-top: 20px;
padding:15px 30px;
background:#ff9900;
color:white;
text-decoration:none;
border-radius:8px;
font-size:18px;
}
.buy-btn:hover{
background:#e67e00;
}
footer{
text-align: center;
background:#222;
color:white;
padding:20px;
margin-top:40px;
}